@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Basier Circle";
  src: url("/fonts/basiercircle-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Basier Circle";
  src: url("/fonts/basiercircle-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Basier Circle";
  src: url("/fonts/basiercircle-semibold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Basier Circle";
  src: url("/fonts/basiercircle-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Basier Circle";
  src: url("/fonts/basiercircle-regularitalic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Basier Circle";
  src: url("/fonts/basiercircle-mediumitalic-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Basier Circle";
  src: url("/fonts/basiercircle-semibolditalic-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Basier Circle";
  src: url("/fonts/basiercircle-bolditalic-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@layer base {
  body {
    @apply bg-[#D8E1E9];
  }
}
